# compiled output
webapp/dist
webapp/tmp
webapp/out-tsc

# dependencies
webapp/node_modules/*
functions/node_modules/*

# misc
webapp/coverage
*/npm-debug.log
*/typings

# e2e
webapp/e2e/*.js
webapp/e2e/*.map

# System Files
*/.DS_Store
*/Thumbs.db
