@import "../assets/styles/colors";

.app-container {
 background: none;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}

.app-sidenav {
 width:70%;
 background: rgba(34, 34, 34, 0.98);
 color: $COLOR_WHITE;
}
