/**
* Mahanaim Color Pallete
*/

$COLOR_BG: #EEE;
$COLOR_PRIMARY: rgb(49, 97, 255);
$COLOR_PRIMARY_SHADOW: rgb(25, 55, 153);
$COLOR_SECONDARY: green;

$COLOR_CLEAN: #EEE;
$COLOR_WHITE: #FFF;
$COLOR_BLACK: #222;
$COLOR_GRAY: #444;

body{ background: $COLOR_BG; }